:root {
    color-scheme: dark;

    --bg-primary: #080807;
    --bg-secondary: #0f0f0e;
    --text-primary: #fcfcfc;
    --text-secondary: #706d6a;
    --border-primary: #706d6a;
    --border-secondary: #fcfcfc;
    --accent: #fcfcfc;

    --black: var(--bg-primary);
    --white: var(--text-primary);
    --gray: var(--text-secondary);

    --font-xs: 0.5rem;
    --font-sm: 0.5625rem;
    --font-md: 0.625rem;
    --font-base: 0.6875rem;
    --font-lg: 0.75rem;
    --font-xl: 0.8125rem;
    --font-2xl: 0.875rem;
    --font-3xl: 1.125rem;
    --font-4xl: 1.5rem;
    --font-5xl: 1.75rem;
    --font-6xl: 2rem;
}

:root[data-theme="light"] {
    color-scheme: light;

    --bg-primary: #fcfcfc;
    --bg-secondary: #f5f5f5;
    --text-primary: #080807;
    --text-secondary: #706d6a;
    --border-primary: #706d6a;
    --border-secondary: #080807;
    --accent: #080807;
}