:root {
    --black: #080807;
    --white: #fcfcfc;
    --gray: #706d6a;
    --accent: #fcfcfc;

    --font-xs: 0.5rem;
    --font-sm: 0.5625rem;
    --font-md: 0.625rem;
    --font-base: 0.6875rem;
    --font-lg: 0.75rem;
    --font-xl: 0.8125rem;
    --font-2xl: 0.875rem;
    --font-3xl: 1.125rem;
    --font-4xl: 1.5rem;
    --font-5xl: 1.75rem;
    --font-6xl: 2rem;
}